body{
    margin:0px;
    padding:0px;
}
.container{
    width:516px;
    height: 516px;
    display:flex;
    flex-wrap: wrap;
    
}

.cell{
    border:1px solid black;
    background-color: aqua;
    height:30px;
    width:30px;
    
    
}